<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felvételi eredmény</title>
</head>
<body>
    <h1>Felvételi eredmények</h1>

    
    {% if vaneinput %}
        
        {% if voltilyen %}
                
        <p>Kedves {{nev}}! Az felvételin szerzett {{pontszam}} pontoddal az alábbi szakokra vettek fel:</p>    
        <p>A: {{A}}</p>
        <p>B: {{B}}</p>
        <p>C: {{C}}</p>
        <p>D: {{D}}</p>
        <p>E: {{E}}</p>
        <p>F: {{F}}</p>
        {% else %}
        <p>Nincs ilyen OM azonosító a rendszerben... -_-</p>
        {% endif %}
                

    {% else %}
    
    <form method="POST">
        {% csrf_token %}
        <p>Adja meg a diákigazolvámnyszámát</p>
        <input type="number" name="diakid" id="">
        <button type="submit">Keresés</button>
    </form>

    {% endif %}
        




    
</body>
</html>